/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.banner {
 background-repeat: no-repeat;
 background-size: cover;
 height: 84vh;
 color: white;
 position: relative;
}

.banner-form{
  background-color: rgba(0,0,0,0.6);
  bottom: 0;
  right: 0;
  left: 0;

  padding-top: 30px;
  position: absolute;
  margin:0;
}

.banner-content{
  font-size: 14px;
  line-height: 1.43;
  padding-top: 150px;
}

.banner-text{
  padding-bottom: 20px;
}

.btn-transparent{
  color: white;
  background: white;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  background-color:rgba(255, 255, 255, 0.4);
}

.btn-transparent:hover {
  text-decoration: none;
  background-color: rgba(0,0,0,0.35);
  color: #fff;
}

video#bgvid {
    position: absolute;
    top: 42%;
    left: 50%;
    height: auto;
    width: 100%;
    bottom: 0px;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

.explore-content {
  color: white;
  height: 550px;
  position: relative;
}

.mod-explore {
  padding: 50px;
  background-color: #ECF0F1;
}

.container-explore{
  background-image: image-url('background_place.jpg');
  background-repeat: no-repeat;
}

.testimonial-examples-explore {
  background-color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 2px;
  position: absolute;
  left: 500px;
  bottom: 10px;
  width: 400px;
  color: black;
  height: 500px;
  border-radius: 5px;
  padding: 20px;
}

.explore-content-title{
    font-weight: bold;
    font-size: 34px;
    line-height: 1.1;
    margin-left: -100px;

}

.meet-content {
  color: white;
  height: 550px;
  position: relative;
}

.mod-meet {
  padding: 30px;
  background-color: #ECF0F1;
}

.container-meet{
  background-image: image-url('background_work.jpg');
  background-repeat: no-repeat;
  background-position: 90% 10%;
}

.meet-content-title{
    font-weight: bold;
    font-size: 34px;
    line-height: 1.1;
    text-align: right;
}

.testimonial-examples-meet {
  background-color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 2px;
  position: absolute;
  left: 50px;
  bottom: 20px;
  width: 400px;
  color: black;
  height: 500px;
  border-radius: 5px;
  padding: 20px;
}

.workspace-container{
  background-color: #ECF0F1;;
  margin-bottom: 150px;
}


#form1 {
border-radius: 0px;
border:none;
padding-right: 35px;
padding-top: 10px;
padding-bottom: 10px;
margin-right: -5px;
height:35px;

}

#form2{
border-radius: 0px;
border:none;
padding-right: 25px;
padding-top: 10px;
padding-bottom: 10px;
margin-right: -5px;
margin-left: 0px;
border-color: white;
border:none;
height:35px;

}


#form3{

border-radius: 0px;
border:none;
height:35px;
margin-right: -4px;
}

