.user-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.sidenav-list {
  list-style-type: none;
  text-decoration: none;
  padding:  -400px;
  margin: none !important;
  -webkit-appearance: none;
}

.sidenav-item {
  text-decoration: none;
  color: black;
}

.form-container {
  padding-bottom: 25px;
}
