  <div class="browsing">
    <row>


<!--       workspace listing    -->
      <div class="col-xs-12 col-sm-7">

        <div class="workspace-listing">
          <div class="workspace-filters">
            <div class="date-filter">


            </div>
            <hr>
            <div class="room-type-filter">


            </div>
            <hr>
            <div class="price-filter">


            </div>

          </div>
          <div class="workspace-cards-listing">


          </div>
        </div>


<!--       map view    -->
      <div class="hidden-xs col-sm-5">
        <div class="eye-mapper">


        </div>


      </div>
    </row>
  </div>
