  <div class="browsing">
    <row>


<!--       workspace listing    -->
      <div class="col-xs-12 col-sm-7">

        <div class="workspace-listing">
          <div class="workspace-filters">
            <div class="date-filter">

            <!--       Reference to the date picker    -->

            </div>
            <hr>
            <div class="room-type-filter">


            </div>
            <hr>
            <div class="price-filter">


            </div>

          </div>
          <div class="workspace-cards-listing">
            <row>
              <div class="col-xs-12 col-sm-6">
                <!--       Need to be fixed (i.e. no scrolling allowed)   -->
              </div>
            </row>
          </div>
        </div>


<!--       map view    -->
      <div class="hidden-xs col-sm-5">
        <div class="eye-mapper">

        <!--       Need to be fixed (i.e. no scrolling allowed)   -->

        </div>


      </div>
    </row>
  </div>
