  <div class="browsing">
    <row>


      <!--       workspace listing side    -->
      <div class="col-xs-12 col-sm-7">

        <div class="workspace-listing">
          <div class="workspace-filters">
            <div class="date-filter">
              <p>Dates</p>

              <!--       Reference to the date picker    -->

            </div>
            <hr>
            <div class="room-type-filter">
              <p>Room Type</p>


            </div>
            <hr>
            <div class="price-filter">
              <p>Price Range</p>


            </div>

          </div>
          <div class="workspace-cards-listing">
            <row>
              <div class="wrapper" style="background: #F5F5F5">
                <div class="col-xs-12 col-sm-6">

                <!--       iterating on th pending for workspace-cards render from Mehdi   -->

                </div>
              </div>
            </row>
          </div>
        </div>
      </div>

      <!--       map side    -->
      <div class="hidden-xs col-sm-5 eye-mapper" >
      <%= image_tag "logo.png", {class: "img-circle", id: "logo"}%>

        <!--       Need to be fixed (i.e. no scrolling allowed)   -->

      </div>
    </row>
  </div>
