<div class="navbar-wagon">



  <form action="" class="navbar-wagon-search">
      <input id="form8" type="text" class="navbar-wagon-search-input" placeholder="&#xF002; Where do you want to work ?" style="font-family:FontAwesome" />
  </form>

  <div class="navbar-wagon-pusher"></div>
  <div class="divider-vertical1" id="vertical1"></div>
  <div class="divider-vertical1" id="vertical2"></div>
  <div class="divider-vertical1" id="vertical3"></div>
  <div class="divider-vertical1" id="vertical4"></div>
  <div class="divider-vertical1" id="vertical5"></div>

  <div>
    <ul class="navbar-items">
        <li>
        <%= link_to work_path(current_user), :class =>"navbar-wagon-item worksurfing-navbar-link" do %>
      Mes Workspaces <i class="fa fa-home"></i>
        <% end %>
       </li>
      <li>
        <%= link_to conversations_path, :class =>"navbar-wagon-item worksurfing-navbar-link" do %>
      Messages <i class="fa fa-envelope-o"></i>
        <% end %>
       </li>
      <li>
        <%= link_to '#', :class =>"navbar-wagon-item worksurfing-navbar-link" do %>
      Aide <i class="fa fa-life-ring"></i>
        <% end %>
       </li>
       <li>
        <div class="navbar-wagon-item navbar-wagon-link">
            <%= link_to(current_user.first_name, user_path(current_user)) %>
        </div>
      </li>
    </ul>
  </div>
</div>

