<div class="navbar-wagon">
  <!-- Logo -->
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Different navigation if login or not -->
    <% if user_signed_in? && current_page?(root_path) %>
      <%= render 'shared/navbar_home_logged_in'%>
    <% elsif user_signed_in? %>
      <%= render 'shared/navbar_logged_in'%>
    <% else %>
      <!-- Navbar Logged out -->
      <%= render 'shared/navbar_logged_out'%>
    <% end %>
  </div>
</div>

