<div class="navbar-wagon">
  <!-- Logo -->
  <div>
      <%= link_to root_path do %>
          <%= image_tag 'blason_paris', class: "navbar-wagon-logo avatar-large", id:"logo" %>
      <% end %>
  </div>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>
      <%= render 'shared/navbar_logged_in'%>
    <% else %>
      <!-- Navbar Logged out -->
      <%= render 'shared/navbar_logged_out'%>
    <% end %>
  </div>
</div>

