.banner-workspace {
  height: 400px;
  background-size: cover;
  background-position: center center;
}

.container-workspace {
  background: #F8F8FA;
  padding-left: 40px;
}

.parent-flex {
  display: flex;
  align-items: center;
  padding-top: 23px;
  justify-content: space-between;
}

.parent-flex p {
  margin: 0;
  text-decoration: none;
}

.owner-details {
  flex: 0 0 15%;
  margin-right: 25px;
}

.workplace-headlines {
  flex: 1;
}

.date-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.room-type-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
