/* Footer design */
.footer{
  padding: 40px 0px;
  background: #333333;
  color: #CACACA;
  position:absolute;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;

}

.footer li {
    padding-right: 30px;
}

.footer i{
  color: #CACACA;
}

.footer i:hover{
  color: orange;
  opacity: 0.8;
}
