/* Footer design */
.footer{
  padding: 40px;
  background: #333333;
  color: #CACACA;
  // position:absolute;
  // left:0px;
  // bottom:0px;
  // right: 0;
}

.footer li {
    padding-right: 30px;
}

.footer i{
  color: #CACACA;
}

.footer i:hover{
  color: orange;
  opacity: 0.8;
}

.footer p {
  font-size: 12px;
  font-weight: lighter;
}
