/* Main class */

#logo {
      margin: 20px;
}
.navbar-wagon {
  transition: all 0.3s ease;
  // position:absolute;
  top:0;
  left:0;
  right:0;
  z-index: 2;
  height:70px;
}

/* Navbar vertical separators */
.navbar-wagon hr {
  height: 12px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  margin-right: 10px;
}

/* Navbar container */
.navbar-wagon-container {
  display: flex;
  height: 70px;
  align-items: center;
}

/* Navbar logo */
.navbar-wagon-logo {
  width: 50px;
}

/* Item pushing right navigation */
.navbar-wagon-pusher {
  flex: 1 1 auto;
}

/* Navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 10px;
  color:white;
  text-decoration: none;
}

.navbar-wagon-item:hover {
   text-decoration: none;
   color:white;
   opacity:0.8;
}

/* Navbar standard link */
.navbar-wagon-link {
  color: white;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
      margin-top: 20px;
}
.navbar-wagon:hover {
  color: #da552f;
  text-decoration: none;
}

.btn-login {
  border: 2px solid #287fb8;
  color: #287fb8;
  border-radius: 3px;
  background-color: white;
}


// Navbar logged out

.navbar-wagon {
  display: flex;
  align-items: center;
}

.navbar-wagon-pusher {
  flex: 1 1 auto;
}

.worksurfing-default-link{
  text-decoration: none;
  color: white;
}

.worksurfing-default-link:hover{
  text-decoration: none;
  color: white;
  opacity: 0.6;
}

.navbar-wagon ul {
  list-style: none;
  float: right;
}

.navbar-wagon ul li{
  display: inline-block;
  color:black;
}

.navbar-items{
    margin-right: 24px;
    position: absolute;
    right: 0;
    top: 5px;
    color:black;
}

.navbar-wagon-search-btn {
  line-height: 40px;
  color: #E6E6E6;
  border: none;
  background: transparent;
  position: absolute;
  right: 14px;
  top: -2px;
  z-index: 1;
}
.navbar-wagon-search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
    width: 600px;
    text-decoration: none;
    border-style: none;

    left: 100px;
    position: absolute;
    top: 15px;
}
.navbar-wagon-search-input:focus  {
  border: 1px solid #CCCCCC;
}

.worksurfing-navbar-link{
  color:black;
}
.worksurfing-navbar-link :hover{
  color:black;
  opacity:0.8;
}

.navbar-home-items{
    margin-right: 24px;
    position: absolute;
    right: 0;
    top: 5px;
    color:white;
}

.worksurfing-home-navbar-link{
  color:white;
}
