/* Main class */
.navbar-wagon {
  transition: all 0.3s ease;
  // position:absolute;
  top:0;
  left:0;
  right:0;
  z-index: 2;
}

/* Navbar vertical separators */
.navbar-wagon hr {
  height: 12px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  margin-right: 10px;
}

/* Navbar container */
.navbar-wagon-container {
  display: flex;
  height: 70px;
  align-items: center;
}

/* Navbar logo */
.navbar-wagon-logo {
  width: 50px;
}

/* Item pushing right navigation */
.navbar-wagon-pusher {
  flex: 1 1 auto;
}

/* Navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 10px;
  color:white;
  text-decoration: none;
}

.navbar-wagon-item:hover {
   text-decoration: none;
   color:white;
   opacity:0.8;
}

/* Navbar standard link */
.navbar-wagon-link {
  color: white;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar-wagon:hover {
  color: #da552f;
  text-decoration: none;
}

.btn-login {
  border: 2px solid #287fb8;
  color: #287fb8;
  border-radius: 3px;
  background-color: white;
}
