.navbar-inverse {
  background: #565A5C;
  border: none;
  color: #fff;
  font-size: 14px;
  margin: none !important;
}

.container-fluid {
  margin-left: 195px;
  margin-right: 140px;
}

#dashboard {
  font-size: 14px;
}

#bs-example-navbar-collapse-1{
  margin-left: 150px;
  margin-right: 150px;
}
