// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import  "bootstrap-datepicker3";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

@import "lightbox/lightbox.scss";

.text-jumbo{
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}

.body-wrapper {
  position: relative;
}

.footer-wrapper{
  position: absolute;
  left: 0;
  right: 0;
  z-index: 150;
}

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.form-control{
        -webkit-appearance:none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        margin: 0px;
}

select {
  width: 200px !important;
}

select.custom {
  padding-right: 25px;
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
border-radius: 2px;
line-height:21px;
    padding-top: 5px;

}

select.custom::-ms-expand {
  display: none;
}
