<% content_for :title, "Worksurfing - add a new availability" %>
<div class="container">
  <div class="row">
    <div class="container-availability col-md-offset-3 col-md-6" style="padding-bottom: 4mo0px;">
      <h1>Add availabilities to your workspace</h1>
      <%= simple_form_for [@workspace, @availability] do |f| %>
            <%= f.input :start_date, as: :string, input_html: { :class => "datepicker_begin", "data-provide" => "datepicker"}, required: false %>
            <%= f.input :end_date, as: :string, input_html: { :class => "datepicker_end", "data-provide" => "datepicker"}, required: false %>
            <%= f.button :submit , :class => "text-center btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>
