<h1>Add availabilities to your workspace</h1>

<%= simple_form_for [@workspace, @availability] do |f| %>
    <%= f.input :start_date , :class => 'form-control datepicker'%>
      <%= f.input :end_date , :class => 'form-control datepicker'%>
      <%= f.button :submit , :class => "text-center" %>
<% end %>
